django
djangorestframework
django-filter
django-cors-headers
psycopg2
scikit-learn
requests
bs4
numpy
pandas
matplotlib
seaborn
wordcloud
nltk
fastapi
torch
pillow
transformers
uvicorn
torchvision
streamlit
