django
djangorestframework
django-filter
django-cors-headers
psycopg2
scikit-learn
requests
bs4
numpy
pandas
matplotlib
seaborn
wordcloud
nltk
fastapi
torch
pillow
transformers
uvicorn
torchvision
streamlit

# Additional dependencies (This Below list is for python notebook)
beautifulsoup4
certifi
charset-normalizer
click
filelock
idna
joblib
markupsafe
packaging
protobuf
pyparsing
python-dateutil
pytz
regex
six
threadpoolctl
tqdm
urllib3
